.wrap{
    width: 200px;
    height: 200px;
    margin-left:600px;
    margin-top: 300px;
    position: relative;
}

.cube{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: xuanzhuan linear 10s infinite;
    transform: rotateX(-30deg) rotateY(-80deg);
}
.cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.8;
    transition: all .4s;
}
.cube img{
    width: 200px;
    height: 200px;
}
.out_front{
    transform: translateZ(100px);
}
.out_blck{
    transform: translateZ(-100px);
}
.out_top{
    transform: rotateX(90deg) translateZ(100px);
}
.out_buttom{
    transform: rotateX(90deg) translateZ(-100px);
}
.out_left{
    transform: rotateY(90deg) translateZ(100px);
}
.out_right{
    transform: rotateY(90deg) translateZ(-100px);
}
@keyframes xuanzhuan {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.cubu{
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: xuanzhuan linear 10s infinite;
    transform: rotateX(-30deg) rotateY(-80deg);
}
.cubu div {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.8;
    transition: all .4s;
}
.cubu img{
    width: 100px;
    height: 100px;
}
.in_front{
    transform: translateZ(50px);
}
.in_blck{
    transform: translateZ(-50px);
}
.in_top{
    transform: rotateX(90deg) translateZ(50px);
}
.in_buttom{
    transform: rotateX(90deg) translateZ(-50px);
}
.in_left{
    transform: rotateY(90deg) translateZ(50px);
}
.in_right{
    transform: rotateY(90deg) translateZ(-50px);
}
.cube:hover .out_front{
    transform: translateZ(300px);
}
.cube:hover .out_blck{
    transform: translateZ(-300px);
}
.cube:hover .out_left {
    transform: rotateY(90deg) translateZ(300px);
}

.cube:hover .out_right {
    transform: rotateY(90deg) translateZ(-300px);
}

.cube:hover .out_top {
    transform: rotateX(90deg) translateZ(300px);
}

.cube:hover .out_buttom {
    transform: rotateX(90deg) translateZ(-300px);
}
